{% extends 'admin.html.twig' %}

{% block title %}Ajouter une nouvelle page {{ parent() }} {% endblock %}

{% block body %}
<div class="row">

    <div class="col-12">
        <div class="block  table-block mb-4">
            <div class="block-heading">
                <h5>Ajouter une nouvelle page</h5>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_start(form) }}

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form_label(form.content, 'Contenu', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.content, {'attr': {'class': 'form-control ckeditor' , 'placeholder' : 'Contenu'
                            } }) }}
                            {{ form_errors(form.content) }}
                        </div>
                    </div>
                    <hr>
                    <div class="btn-group record_actions">
                        <button class="btn btn-primary" type="submit">Valider</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}