{# <span>{{countMentions }} - likes</span>
<span><a href="{{ path('like_make', {'id': id}) }}">liké</a> #}

<a href="{{ path('mention_make', {'id': id}) }}#like{{id}}" title="J'aime">
	<i class="fas fa-thumbs-up"></i>
</a>
{{countMentions }}