/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i');


/*

    font-family: 'Montserrat', sans-serif;

    font-family: 'Quattrocento Sans', sans-serif;

*/

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import url(all.css);
@import url(superslides.css);
@import url(bootstrap-select.css);
@import url(carousel-ticker.css);
@import url(code_animate.css);
@import url(bootsnav.css);
@import url(owl.carousel.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
@import url(baguetteBox.min.css);

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/
 body {
     color: #666666;
     font-size: 15px;
     font-family: 'Quattrocento Sans', sans-serif;
     line-height: 1.80857;  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-moz-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 8px;
}

::-moz-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #56a231; 
  border-radius: 8px;
}

::-moz-scrollbar-thumb {
  background: #56a231; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff7e00; 
}

::-moz-scrollbar-thumb:hover {
  background: #ff7e00; 
}

.body-container{
     background: url("../img/site-bg.png");
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;
}
 a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: 120% !important;
     color: #1f1f1f;
     margin: 0 
}
 h1 {
     font-size: 24px 
}
 h2 {
     font-size: 22px 
}
 h3 {
     font-size: 18px 
}
 h4 {
     font-size: 16px 
}
 h5 {
     font-size: 14px 
}
 h6 {
     font-size: 13px 
}
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1 
}
 h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
     opacity: .8 
}
 a {
     color: #1f1f1f;
     text-decoration: none;
     outline: none;
}
 a, .btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 .btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}
 .lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}
 blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}
 ul, li, ol{
     list-style: none;
     margin: 0px;
     padding: 0px;
}
 button:focus{
     outline: none;
     box-shadow: none;
}
 :focus {
     outline: 0;
}
 p{
     margin: 0px;
}
 .bootstrap-select .dropdown-toggle:focus{
     outline: none !important;
}
 .form-control::-moz-placeholder {
     color: #ffffff;
     opacity: 1;
}
 .bootstrap-select .dropdown-toggle:focus{
     box-shadow: none !important 
}

.logo-site img{
  max-height: 70px;
  float: left;
}

.social-network{
  margin-top: 13px;
  float: right;
}

.social-network h5{
  text-align: center;
  font-size: 14px;
  margin-right: 22px;
}

.social-network ul{
  display: flex;
  
}

.social-network ul{
  list-style: none;
}

.social-network ul li{
  padding-right: 10px;
}

.social-network ul li a{
  background: #1e1d1c;
  color: #fff;
  font-size: 15px;
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 50%;
  text-align: center;
  padding-top: 4px;
}

.social-network ul li a:hover{
  background: #56a231;
  color: #fff;
  transition: .5s;
}


/*------------------------------------------------------------------ LOADER -------------------------------------------------------------------*/
 #back-to-top {
     position: fixed;
     bottom: 40px;
     right: 40px;
     z-index: 9999;
     width: 32px;
     height: 32px;
     text-align: center;
     line-height: 30px;
     background: #ff7e00;
     color: #ffffff;
     cursor: pointer;
     border: 0;
     border-radius: 2px;
     text-decoration: none;
     transition: opacity 0.2s ease-out;
     font-size: 30px;
}
/*------------------------------------------------------------------ HEADER -------------------------------------------------------------------*/
 .main-top{
     padding: 15px 0;
     color: #666;
     background: #fff;
}


 .main-header{
}
 .search a{
     color: #56a231;
}
 .attr-nav > ul > li > a:hover{
     color: #ff7e00;
     
}

 .attr-nav > ul > li > a{
     color: #ff7e00;
     
}

.search-form-wrapper {
    display: none;
    position: absolute;
    top: 0px;
    left: 20%;
    right: 20%;
    padding: 20px 15px;
    margin-top: 50px;
    background: url(/resources/images/misc/bg_search-open.png) right center no-repeat #1e1d1c;
}
.search-form-wrapper.open {
    display: block;
}

.search-form-tigger, .search-form-tigger:hover{
    color: #ff7e00;
}

.search-close{
    margin-left: 10px;
    margin-top: 5px;
}

 nav.navbar.bootsnav ul.nav > li > a{
     margin: 0px;
}
/* Navbar Adjusment =========================== */
/* Navbar Atribute ------*/
 .attr-nav > ul > li > a{
     padding: 0px 15px;
}

nav.navbar.navbar-light >ul > li >a:hover{
    display: block;
}

 nav.navbar.navbar-light{
     background-color: #1e1d1c !important;
}

 @media (min-width: 1024px) {

    /* Navbar General ------*/
     nav.navbar ul.nav > li > a{
         padding: 30px 15px;
         font-weight: 600;
    }
     nav.navbar .navbar-brand{
         margin-top: 0;
    }
     nav.navbar .navbar-brand{
         margin-top: 0;
    }
     nav.navbar li.dropdown ul.dropdown-menu{
         border-top: solid 5px;
    }
    /* Navbar Center ------*/
     nav.navbar-center .navbar-brand{
         margin: 0 !important;
    }
    /* Navbar Brand Top ------*/
     nav.navbar-brand-top .navbar-brand{
         margin: 10px !important;
    }
    /* Navbar Full ------*/
     nav.navbar-full .navbar-brand{
         position: relative;
         top: -15px;
    }
    /* Navbar Sidebar ------*/
     nav.navbar-sidebar ul.nav, nav.navbar-sidebar .navbar-brand{
         margin-bottom: 50px;
    }
     nav.navbar-sidebar ul.nav > li > a{
         padding: 10px 15px;
         font-weight: bold;
    }
    /* Navbar Transparent & Fixed ------*/
     nav.navbar.bootsnav.navbar-transparent.white{
         background-color: rgba(255,255,255,0.3);
         border-bottom: solid 1px #bbb;
    }
     nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark, nav.navbar.bootsnav.navbar-transparent.dark{
         background-color: rgba(0,0,0,0.3);
         border-bottom: solid 1px #555;
    }
     nav.navbar.bootsnav.navbar-transparent.white .attr-nav{
         border-left: solid 1px #bbb;
    }
     nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark .attr-nav, nav.navbar.bootsnav.navbar-transparent.dark .attr-nav{
         border-left: solid 1px #555;
    }
     nav.navbar.bootsnav.no-background.white .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.white .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.white ul.nav > li > a, nav.navbar.bootsnav.no-background.white ul.nav > li > a{
         color: #fff;
    }
     nav.navbar.bootsnav.navbar-transparent.dark .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.dark ul.nav > li > a{
         color: #eee;
    }
}
 @media (max-width: 992px) {
     .top-banner{display: none;}
    /* Navbar General ------*/

     nav.navbar.bootsnav ul.nav > li > a{
     text-align: center;
     display: block;
}

     .attr-nav > ul > li > a{
         padding: 0 15px;
    }
    /* Navbar Mobile slide ------*/
     nav.navbar.navbar-mobile ul.nav > li > a{
         padding: 15px 15px;
    }
     nav.navbar.navbar-mobile ul.nav ul.dropdown-menu > li > a{
         padding-right: 15px !important;
         padding-top: 15px !important;
         padding-bottom: 15px !important;
    }
     nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title{
         padding-right: 30px !important;
         padding-top: 13px !important;
         padding-bottom: 13px !important;
    }
     nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a{
         padding-top: 13px !important;
         padding-bottom: 13px !important;
    }
    /* Navbar Full ------*/
     nav.navbar-full .navbar-brand{
         top: 0;
         padding-top: 10px;
    }
}
/* Navbar Inverse =================================*/
 nav.navbar.navbar-inverse{
     background-color: #222;
     border-bottom: solid 1px #303030;
}
 nav.navbar.navbar-inverse ul.cart-list > li.total > .btn{
     border-bottom: solid 1px #222 !important;
}
 nav.navbar.navbar-inverse ul.cart-list > li.total .pull-right{
     color: #fff;
}
 nav.navbar.navbar-inverse.megamenu ul.dropdown-menu.megamenu-content .content ul.menu-col li a, nav.navbar.navbar-inverse ul.nav > li > a{
     color: #eee;
}
 nav.navbar.navbar-inverse ul.nav > li.dropdown > a{
     background-color: #222;
}
 nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu > li > a{
     color: #999;
}
 nav.navbar.navbar-inverse ul.nav .dropdown-menu h1, nav.navbar.navbar-inverse ul.nav .dropdown-menu h2, nav.navbar.navbar-inverse ul.nav .dropdown-menu h3, nav.navbar.navbar-inverse ul.nav .dropdown-menu h4, nav.navbar.navbar-inverse ul.nav .dropdown-menu h5, nav.navbar.navbar-inverse ul.nav .dropdown-menu h6{
     color: #fff;
}
 nav.navbar.navbar-inverse .form-control{
     background-color: #333;
     border-color: #303030;
     color: #fff;
}
 nav.navbar.navbar-inverse .attr-nav > ul > li > a{
     color: #eee;
}
 nav.navbar.navbar-inverse .attr-nav > ul > li.dropdown ul.dropdown-menu{
     background-color: #222;
     border-left: solid 1px #303030;
     border-bottom: solid 1px #303030;
     border-right: solid 1px #303030;
}
 nav.navbar.navbar-inverse ul.cart-list > li{
     border-bottom: solid 1px #303030;
     color: #eee;
}
 nav.navbar.navbar-inverse ul.cart-list > li img{
     border: solid 1px #303030;
}
 nav.navbar.navbar-inverse ul.cart-list > li.total{
     background-color: #333;
}
 nav.navbar.navbar-inverse .share ul > li > a{
     background-color: #555;
}
 nav.navbar.navbar-inverse .dropdown-tabs .tab-menu{
     border-right: solid 1px #303030;
}
 nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a{
     border-bottom: solid 1px #303030;
}
 nav.navbar.navbar-inverse .dropdown-tabs .tab-content{
     border-left: solid 1px #303030;
}
 nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:hover, nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:focus, nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li.active > a{
     background-color: #333 !important;
}
 nav.navbar-inverse.navbar-full ul.nav > li > a{
     border:none;
}
 nav.navbar-inverse.navbar-full .navbar-collapse .wrap-full-menu{
     background-color: #222;
}
 nav.navbar-inverse.navbar-full .navbar-toggle{
     background-color: #222 !important;
     color: #6f6f6f;
}
 nav.navbar.bootsnav ul.nav > li > a{
     position: relative;
     font-weight: 400;
     font-size: 13px;
     text-transform: uppercase;
     color: #fff;
     padding: 0 20px;
     height: 40px;
     line-height: 40px;
     display: block;
}

nav.navbar.navbar-light{
    padding: 0;
}
 nav.navbar.bootsnav ul.nav li.active > a{
     color: #fff;
     background: #ff7e00;
}
 nav.navbar.bootsnav ul.nav li.active > a:hover{
     color: #fff;
      background: #ff7e00;
}
 nav.navbar.bootsnav ul.nav li > a:hover{
     color: #fff;
      background: #ff7e00;
}
 nav.navbar.bootsnav ul.nav li.megamenu-fw > a:hover{
     color: #fff;
      background: #ff7e00;
}


 @media (max-width: 767px) {
     .top-banner{display: none;}
     nav.navbar.navbar-inverse.navbar-mobile ul.nav{
         border-top: solid 1px #222;
    }
}
 .arrow::before{
     font-family: 'FontAwesome';
     content: "\f0d7";
     margin-left: 5px;
     margin-top: 2px;
     border: none;
     display: inline-block;
     vertical-align: inherit;
     position: absolute;
     right: 5px;
     font-size: 12px;
     top: 0;
}
 .dropdown-toggle::after{
     display: none;
}
 nav.navbar.bootsnav ul.navbar-nav li.dropdown ul.dropdown-menu li a{
     display: block;
     background: #333;
     color: #fff;
}

nav.navbar.bootsnav ul.navbar-nav li.dropdown ul.dropdown-menu li a:hover{
    background: #000;
}


nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
     border: solid 1px #e0e0e0;
     left: auto;
}
 .btn-cart{
}


 .col-menu .title{
     font-size: 20px;
     font-weight: 700;
     text-transform: uppercase;
}
 .hvr-hover{
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     position: relative;
     background: #d33b33;
     -webkit-transition-property: color;
     transition-property: color;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     border-radius: 0;
     box-shadow: none;
}
 .hvr-hover::after {
     content: "";
     position: absolute;
     z-index: -1;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: #010101;
     -webkit-transform: scaleY(0);
     transform: scaleY(0);
     -webkit-transform-origin: 50%;
     transform-origin: 50%;
     -webkit-transition-property: transform;
     transition-property: transform;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
}
 .hvr-hover:hover::after{
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     color: #ffffff;
}
 .hvr-hover{
}

 .cart-box{
     margin-top: 40px;
     background: #ffffff;
}
 .main-header.fixed-menu {
     position: fixed;
     visibility: hidden;
     left: 0px;
     top: 0px;
     width: 100%;
     padding: 0px 0px;
     background: #ffffff;
     z-index: 0;
     transition: all 500ms ease;
     -moz-transition: all 500ms ease;
     -webkit-transition: all 500ms ease;
     -ms-transition: all 500ms ease;
     -o-transition: all 500ms ease;
     z-index: 999;
     opacity: 1;
     visibility: visible;
     -ms-animation-name: fadeInDown;
     -moz-animation-name: fadeInDown;
     -op-animation-name: fadeInDown;
     -webkit-animation-name: fadeInDown;
     animation-name: fadeInDown;
     -ms-animation-duration: 500ms;
     -moz-animation-duration: 500ms;
     -op-animation-duration: 500ms;
     -webkit-animation-duration: 500ms;
     animation-duration: 500ms;
     -ms-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
     -op-animation-timing-function: linear;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     -ms-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
     -op-animation-iteration-count: 1;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
}
 .main-header.fixed-menu {
     padding: 0px;
     box-shadow: 0 0 8px 0 rgba(0,0,0,.12);
     border-radius: 0;
}
 .top-search .input-group-addon{
     line-height: 40px;
     display: block;
}
 .top-search input.form-control{
     color: #ffffff;
     background: #1e1d1c
}



/*------------------------------------------------------------------ SITE CONTENT -------------------------------------------------------------------*/

/*======================= SLIDE ======================*/
.le-slider{
    width: 100%;
    border: 4px solid #fff;
    margin-top: 15px;
}

.carousel-inner img{
    max-height: 480px !important;
    width: auto !important;
}

.carousel-caption h5{
    color: #fff;
}

.le-sidebar{
    margin-top: 15px;
    width: 100%;
}

.side-ads img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.bloc-demandes{
    background: #fff;
}

.demande{
    margin-top: 10px
}

.list-group-item span{
    float: right;
    font-size: 18px;
}

.list-group-item:hover{
    background: #56a231;
    color: #fff;
}

.gros-titre3{
    background: #1e1d1c;
    padding: 6px 15px;
    width: 100%;
    color: #fff;
    margin-top: 0px;
}

.gros-titre3 span{
    float: right;
}

.gros-titre3 a{
    color: #ff7e00
}

.gros-titre2 span{
    float: right;
}

.gros-titre2 a{
    color: #ff7e00
}

.slider {
    width: 100%;
    margin: 0 auto;
}

.slider img {
    width: 200px;
    height: 200px;
}

/*============================================= le contenu ===================================**/
.gros-titre{
    background: #1e1d1c;
    padding: 6px 15px;
    width: 100%;
    color: #fff;
    margin-top: 10px;
}

.gros-titre2{
    background: #1e1d1c;
    padding: 6px 15px;
    width: 100%;
    color: #fff;
    margin-bottom: 15px;
}


.contenu-films{
    margin: 15px 0;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card{
    cursor: pointer;
    width: 100%;
    height: 371px;
}

.face-avant, .face-arriere{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.face-avant img{
    width: 100%;
}

.face-avant{
    transform: perspective(600px) rotateY(0deg);
}


.face-arriere{
    background: #ff7e00;
    transform: perspective(600px) rotateY(180deg);
}

.face-arriere h3{
    color: #fff;
}

.back-content{
    color: #fff;
    text-align: center;
    width: 100%;
}

.link-vd span{

}
.sm{
    margin: 20px 0;
}

.sm a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 36px;
    transition: 0.4s;
    padding: 0 40px;
}

.sm a:hover{
    color: #1e1d1c;
}

.sm span{
    font-size: 10px;
}

.card:hover > .face-avant{
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .face-arriere{
    transform: perspective(600px) rotateY(0deg);
}


/*------------------------------------------------------------------ Black banner-------------------------------------------------------------------*/

.black-banner{
    padding: 15px 0;
    background: #000;
}

.les-items{
    justify-content: center;
    text-align: center;
}

.les-items span{
    color: #ff7e00;
    display: block;
    font-size: 11px;
    padding: 5px;
}

.puce1, .puce2, .puce3{
    border-right: 1px solid #ff7e00;
}

.puce1 .fas{
    font-size: 3rem;
    color: #ff7e00
}

.puce1 .fas:hover{
    color: #56a231;
    transition: .4s;
}

.puce2 .fas{
    font-size: 3rem;
    color: #ff7e00
}

.puce2 .fas:hover{
    color: #56a231;
    transition: .4s;
}

.puce3 .fas{
    font-size: 3rem;
    color: #ff7e00
}

.puce3 .fas:hover{
    color: #56a231;
    transition: .4s;
}

.puce4 .fas{
    font-size: 3rem;
    color: #ff7e00
}

.puce4 .fas:hover{
    color: #56a231;
    transition: .4s;
}

/*------------------------------------------------------------------ Films institutionnels-------------------------------------------------------------------*/
.film-inst{
    background: url("../img/big-banner.jpg");
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;
}
.banniere{
    position: absolute;
    width: 100%;
}

.banniere img{

    background-size: cover;
    background-attachment: fixed;
}

.liste-videos{
    position: relative;
    background: rgba(0,0,0,.8);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bloc-video{
    width: 100%;
    margin-bottom: 30px;
}

.bloc-video iframe{
    width: 100%;
    height: 350px;
}

.title-banner h2{
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 30px;
}

/*------------------------------------------------------------------ Actualités -------------------------------------------------------------------*/

.blog{
    padding: 20px 0;
}

.news {
  float: left;
  width: 100%;
  background: #111;
  height: 480px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: all .2s ease;
  overflow: hidden;
}

.card-image {
  max-width: 100%;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: .2s all ease;
}

.card-meta {
  position: absolute;
  height: 60%;
  top: 0;
  left: 0;
  right: 0;
  transition: .2s all ease;
}
.card-meta .tag,
.card-meta .date {
  background: #ff7e00;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 12px;
  position: absolute;
  font-weight: bold;
}
.card-meta .tag {
  left: 0;
  bottom: 0;
  
}

.card-meta .tag a:hover {
    text-decoration: none;
    color: #fff;
}

.card-meta .tag a {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.card-meta .date {
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  text-align: center;
}

.card-meta .date span {
  vertical-align: -5px;
  line-height: .8;
}
.card-meta .date em {
  display: block;
  font-style: normal;
  font-size: 65%;
  padding-top: 2px;
}

.card-details {
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  bottom: 0;
  padding: 15px;
  transition: .2s all ease;
}
.card-details h2 {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 400;
}

.card-details p {
  color: #666666;
  font-size: 15px;
  line-height: 1.8em;
  opacity: 0;
  transition: .4s all ease;
}

.post-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: #999;
  padding: 15px;
}
.post-meta a {
  color: inherit;
  text-decoration: none;
}
.post-meta span {
  margin-right: 1em;
}

.new:hover,
.new.hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.news:hover .card-image,
.news.hover .card-image {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: .6;
}
.news:hover .card-meta,
.news.hover .card-meta {
  height: 30%;
}
.news:hover .card-details,
.news.hover .card-details {
  top: 30%;
}
.news:hover .card-details p,
.news.hover .card-details p {
  opacity: 1;
}


/*------------------------------------------------------------------ Login -------------------------------------------------------------------*/
.login-wrap{
    width:100%;
    margin:auto;
    max-width:100%;
    min-height:640px;
    position:relative;
    background: #666;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:15px;
    
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    -webkit-transform:rotateY(180deg);
            transform:rotateY(180deg);
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    font-size:20px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    color: #fff;
    border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#ff7e00;
}
.login-form{
    min-height:345px;
    position:relative;
    -webkit-perspective:1000px;
            perspective:1000px;
    -webkit-transform-style:preserve-3d;
            transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:10px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color:#aaa;
    font-size:12px;
}
.login-form .group .button{
    background:#ff7e00;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    -webkit-transform:scale(0) rotate(0);
            transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    -webkit-transform:scale(0) rotate(0);
            transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#ff7e00;
}
.login-form .group .check:checked + label .icon:before{
    -webkit-transform:scale(1) rotate(45deg);
            transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    -webkit-transform:scale(1) rotate(-45deg);
            transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    -webkit-transform:rotate(0);
            transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    -webkit-transform:rotate(0);
            transform:rotate(0);
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
    color: #fff;
}

.foot-lnk a{
    color: #ffffff;
}

.foot-lnk a:hover{color: #ff7e00}


/*================================================ PAGE ACTUALITE =====================================*/
.header-actualite{
    background: #ececec;
    padding: 20px 0;
}

.blog-info h1{
    color: #333;
    font-size: 36px;
    letter-spacing: -2px;
    font-weight: 300;
}

.blog-navigation ul{
    display: flex;
    float: right;
}

.blog-navigation ul li{
    padding: 12px 3px;
}

.blog-navigation ul li a:hover{
    color: #ff7e00;
}

.blog-navigation .fas{
    margin-left: 3px;
}

.blog-news{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px;
    margin: 15px 0;
}

.remove-border{
    border-bottom: none;
}

.blog-news img{
    max-height: 350px;
    width: 100%;
}

.blog-title h3{
    font-size: 24px;
    padding: 15px 0;
    font-weight: 600;
    color: #333;
}

.blog-title a:hover{
    color: #ff7e00;
}

.blog-text p{
    font-size: 16px;
    color: #555;
}

.bordure-orange{
   border-top: 1px solid #ff7e00;
    border-bottom: 1px solid #ff7e00 
}
.social-ic{
    padding: 5px 0;    
}

.bordure-gris{
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.social-ic ul{
    display: flex;
}

.social-ic ul li{
    padding-right: 30px;
}

.social-ic ul li i{
    margin-right: 5px;
}

.blog-information{
    margin-top: 15px;
}

.blog-information .read-btn{
    display: block;
    float: right;
    margin-top: -33px;
    font-size: 15px;
}

.read-btn i{
    margin-left: 3px;
    margin-top: 2px;
    color: #666;
}

.read-btn a:hover{
    color: #ff7e00;
}

.thumbs{
    margin-right: -20px;
}
.thumbs a:hover{
    color: #ff7e00;
}

.thumbs a{
    color: #666;
}

.pagination-site{
    margin: 30px 0;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #ff7e00;
    border-color: #ff7e00;
}

.page-link:hover {
    z-index: 2;
    color: #666;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.single-post{
    font-size: 16px;
    color: #777;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ff7e00;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
  font-size: 1.4em;
  width:90%;
  margin:20px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #ff7e00 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#ff7e00;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.blog-comment h2{
    padding: 30px 0;
}

.btn-outline-success {
    color: #56a231;
    background-color: transparent;
    background-image: none;
    border-color: #56a231;
    border-radius: 0px !important;
}

::-webkit-input-placeholder { /* Edge */
  color: #ff7e00;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ff7e00;
}

::placeholder {
  color: #ff7e00;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #ff7e00;
    border-color: #ff7e00;
}

/*--------------------------------------------- FAQ---------------------------------*/
.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #ff7e00;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #ff7e00;
}
.accordion a:hover::after {
  border: 1px solid #ff7e00;
}
.accordion a.active {
  color: #ff7e00;
  border-bottom: 1px solid #ff7e00;
}
.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #ff7e00;
  padding-top: 0px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ff7e00;
  text-align: center;
}
.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #ff5353;
  border: 1px solid #ff5353;
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

/*------------------------------------------------------------------ Side bar -------------------------------------------------------------------*/

.sidebar{
    width: 100%;
}

.titre-sidebar{
    background: #1e1e1e;
    width: 100%;
    padding: 15px;
    color: #fff;
    text-align: center;
    margin: 15px 0;
    font-size: 16px;
}

.insta-feed img{
    max-height: 60px;
    width: auto;
}
.insta-feed ul{
    display: flex;
}

.insta-feed ul li{
    margin-right: 3px;
}

.list2{
    margin-top: 3px;
}

/*------------------------------------------------------------------ Copyright -------------------------------------------------------------------*/
 .footer-copyright{
     background: #000;
     padding: 20px 0px;
     position: relative;
}
 .footer-copyright p {
     text-align: center;
     color: #ffffff;
     font-size: 16px;
}
 .footer-copyright p a{
     color: #ffffff;
}
 .footer-copyright p a:hover{
     color: #d33b33;
}
