{% extends 'admin.html.twig' %}

{% block title %}Ajouter une nouvelle categorie {{ parent() }} {% endblock %}

{% block body %}
<div class="row">

    <div class="col-12">
        <div class="block  table-block mb-4">
            <div class="block-heading">
                <h5>Ajouter une nouvelle categorie</h5>

            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_start(form) }}

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{ form_label(form.libele, 'Libelle', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.libele, {'attr': {'class': 'form-control' , 'placeholder' : 'Libelle'
                            } }) }}
                            {{ form_errors(form.libele) }}
                        </div>
                    </div>
                    <hr>
                    <div class="btn-group record_actions">
                        {% if category.id == null %}
                        <a class="btn btn-inline btn-info" href="{{path('category_index')}}">
                            <i class="fa fa-chevron-circle-left"></i> Retour
                        </a>
                        {% else %}
                        <a class="btn btn-inline btn-info" href="{{ path('category_index' , {id:category.id} ) }}">
                            <i class="fa fa-chevron-circle-left"></i> Retour
                        </a>
                        {% endif %}

                        <button class="btn btn-primary" type="submit">Valider</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}