
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
   
    <title>Connexion Administrateur | Administration Asfrik!</title>
    

    <!--favicon-->
    <link href="assets/images/favicon.ico" rel="shortcut icon">

    <!--Preloader-CSS-->
    <link rel="stylesheet" href="{{ asset('admin/assets/plugins/preloader/preloader.css') }}">

    <!--bootstrap-4-->
    <link rel="stylesheet" href="{{ asset('admin/assets/css/bootstrap.min.css') }}">

    <!--Custom Scroll-->
    <link rel="stylesheet" href="{{ asset('admin/assets/plugins/customScroll/jquery.mCustomScrollbar.min.css') }}">
    <!--Font Icons-->
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/simple-line/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/dripicons/dripicons.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/eightyshades/eightyshades.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/foundation/foundation-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/metrize/metrize.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/typicons/typicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/weathericons/css/weather-icons.min.css') }}">

    <!--Date-range-->
    <link rel="stylesheet" href="{{ asset('admin/assets/plugins/date-range/daterangepicker.css') }}">
    <!--Drop-Zone-->
    <link rel="stylesheet" href="{{ asset('admin/assets/plugins/dropzone/dropzone.css') }}">
    <!--Full Calendar-->
    <link rel="stylesheet" href="{{ asset('admin/assets/plugins/full-calendar/fullcalendar.min.css') }}">
    <!--Normalize Css-->
    <link rel="stylesheet" href="{{ asset('admin/assets/css/normalize.css') }}">
    <!--Main Css-->
    <link rel="stylesheet" href="{{ asset('admin/assets/css/main.css') }}"> 
</head>
<body>



<section style="background: url({{asset('admin/img/pexels-photo-176851.jpeg')}});background-size: cover">
    <div class="height-100-vh bg-primary-trans">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="login-div">
                        <p class="logo mb-1">Connexion Administrateur</p>
                        <form id="needs-validation" action="{{path('user_admin_login')}}" method="post" >
                        
                            
                        
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                </div>
                    {% endif %}

                        <input type="hidden" name="_csrf_token"
                                            value="{{ csrf_token('authenticate') }}"
                                        >

                            <div class="form-group">
                                <label>E-mail</label>
                                <input class="form-control input-lg" name="_username" value="{{ last_username }}" placeholder="E-mail" type="text" required>
                            </div>
                            <div class="form-group">
                                <label>Mot de passe</label>
                                <input class="form-control input-lg" name="_password" placeholder="Mot de passe" type="password" required>
                            </div>

                          
                            <button class="btn btn-primary mt-2">Connexion</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Jquery-->
<script type="text/javascript" src="{{ asset('admin/assets/js/jquery-3.2.1.min.js') }}"></script>
<!--Bootstrap Js-->
<script type="text/javascript" src="{{ asset('admin/assets/js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('admin/assets/js/bootstrap.min.js') }}"></script>
<!--Modernizr Js-->
<script type="text/javascript" src="{{ asset('admin/assets/js/modernizr.custom.js') }}"></script>

<!--Morphin Search JS-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/morphin-search/classie.js') }}"></script>
<script type="text/javascript" src="{{ asset('admin/assets/plugins/morphin-search/morphin-search.js') }}"></script>
<!--Morphin Search JS-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/preloader/pathLoader.js') }}"></script>
<script type="text/javascript" src="{{ asset('admin/assets/plugins/preloader/preloader-main.js') }}"></script>

<!--Chart js-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/charts/Chart.min.js') }}"></script>

<!--Sparkline Chart Js-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('admin/assets/plugins/sparkline/jquery.charts-sparkline.js') }}"></script>

<!--Custom Scroll-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/customScroll/jquery.mCustomScrollbar.min.js') }}"></script>
<!--Sortable Js-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/sortable2/sortable.min.js') }}"></script>
<!--DropZone Js-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/dropzone/dropzone.js') }}"></script>
<!--Date Range JS-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/date-range/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('admin/assets/plugins/date-range/daterangepicker.js') }}"></script>
<!--CK Editor JS-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/ckEditor/ckeditor.js') }}"></script>
<!--Data-Table JS-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/data-tables/datatables.min.js') }}"></script>
<!--Editable JS-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/editable/editable.js') }}"></script>
<!--Full Calendar JS-->
<script type="text/javascript" src="{{ asset('admin/assets/plugins/full-calendar/fullcalendar.min.js') }}"></script>

<!--- Main JS -->
<script src="{{ asset('admin/assets/js/main.js') }}"></script>

</body>

</html>