{# <form action="{{path('comment_manager_add_comment', {'id': im })}}" method="post">
    <div class="input-group">
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="form-control">
        <input type="submit" value="Ajouter un commentaire"/>
    </div>
</form> #}


{{ form_start(form, {action: path('comment_manager_add_comment', {'id': im })}) }}
    <div class="form-row">
        <div class="col-md-12">
    		<div class="row">
    			<div class="col-md-12 col-offset-0">
    				<div class="form-group">
                        {{ form_widget(form) }}
                    </div>
    			</div>
    		</div>
    	</div>
    </div>
    <button type="submit" class="btn btn-outline-success btn-lg btn-block">Commenter cet article</button>
{{ form_end(form) }}
{# <button class="btn">{{ button_label|default('Ajouter un commentaire') }}</button> #}