<div>
    <h2>Les commentaires</h2>
</div>
<div>
    {% for comment in comments %}
        <div class="col-md-12">
            <span>
                <i class="far fa-user"></i>
	    		{{comment.user.email}}</li>
            </span>
            <p id="comment{{comment.id}}">{{comment.content}}</p>
            <div id="formComment{{comment.id}}" style="display: none"></div>
            <div class="blog-information">
			    <div class="social-ic bordure-gris">
			    	<ul>
			    		<li>
			    			<i class="far fa-calendar-alt"></i>
			    			{{comment.created|localizeddate('full', 'none', null, null, 'd MMM YYYY')}}</li>
			    		<li>
			    			<i class="far fa-clock"></i>
			    			{{comment.created|date('H:i')}}</li>
			    		<li>
			    			{{ include('front/mention/_view_mention.html.twig', {id: comment.MentionManager.id, countMentions: comment.MentionManager.countMentions})}}
			    			</li>
			    		<li>
			    			<button id="EditComment{{comment.id}}" onclick="alert({{comment.content}})">Modifier</button>
			    			{# <button id="EditComment{{comment.id}}" onclick="editComment({{comment.id}})">Modifier</button> #}
			    			{# <a href="#" id="EditComment{{comment.id}}" onclick="editComment(editComment{{comment.id}})">Modifier</a> #}
			    			{# {{path('comment_edit', {id: comment.id})}} #}
							</li>
			    		{# <li>
			    			<a href="{{path('comment_manager_edit_comment', {id: comment.id, im: commentManager})}}"><i class="fas fa-edit"></i></a>
			    			</li> #}
			    		<li class="thumbs">
			    			{{ include('front/comment/_delete_form_generique.html.twig', {im: commentManager})}}
			    			</li>
			    	</ul>
			    </div>
		    </div>
        </div>
        <br/>
    {% endfor %}
</div>
<div>
    {{ include('front/comment/_form_generique.html.twig', {im: commentManager})}}
</div>
