{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>

    {{ include('front/comment/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('comment_index') }}">back to list</a> #}

    {# {{ include('front/comment/_delete_form.html.twig') }} #}
{% endblock %}
