{{ form_start(form, {'attr': {'class': 'formRegister'}} ) }}
<div class="errorForm">
    <ul>
    </ul>
</div>
<div class="form-group">
    {{ form_widget(form.member.nom, {'attr': {'class': 'form-control' , 'placeholder' : 'Votre Nom' } }) }}
    {{ form_errors(form.member.nom) }}
</div>
<div class="form-group">
    {{ form_widget(form.member.prenom, {'attr': {'class': 'form-control' , 'placeholder' : 'Votre Prenom' } }) }}
    {{ form_errors(form.member.prenom) }}
</div>
<div class="form-group">
    {{ form_widget(form.email, {'attr': {'class': 'form-control' , 'placeholder' : 'Votre Email' } }) }}
    {{ form_errors(form.email) }}
</div>
<div class="form-group">
    {{ form_widget(form.password, {'attr': {'class': 'form-control' , 'placeholder' : 'Votre Mot de passe' } }) }}
    {{ form_errors(form.password) }}
</div>
<div class="form-group">
    {{ form_widget(form.member.adresse, {'attr': {'class': 'form-control' , 'placeholder' : 'Votre localisation' } }) }}
    {{ form_errors(form.member.adresse) }}
</div>
<div class="col-md-12 text-center mb-3">
    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Valider</button>
</div>
<div class="col-md-12 ">
    <div class="form-group">
        <p class="text-center"><a href="#" id="signin">Vous avez deja un compte?</a>
        </p>
    </div>
</div>
{{ form_end(form) }}