{% extends 'admin.html.twig' %}

{% block title %}Liste des galleries {{ parent() }} {% endblock %}

{% block body %}
<div class="row">

    <div class="col-12">
        <div class="block  table-block mb-4">
            <div class="block-heading">
                <h5>Liste des galleries </h5>
            </div>

            <div class="row">
                <div class="pull-right">
                    <a href="{{ path('gallery_new') }}" class="btn btn-primary">Ajouter</a>
                    <br><br>
                </div>

                <div class="table-responsive">
                    {% for message in app.session.flashbag.get('ajout') %}

                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>

                    {% endfor %}
                    <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>libelle</th>
                                <th>Date de creation</th>
                                <th>Derniere modification</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gallery in galleries %}
                            <tr>
                                <td>{{ gallery.id }}</td>
                                <td>{{ gallery.title }}</td>
                                <td>{{ gallery.created ? gallery.created|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ gallery.modified ? gallery.modified|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('gallery_show', {'id': gallery.id}) }}">Afficher</a>
                                    <a href="{{ path('gallery_new', {'id': gallery.id}) }}">Editer</a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}