{% extends 'admin.html.twig' %}

{% block title %}Liste des {{config.list}} {{ parent() }} {% endblock %}

{% block body %}
<div class="row">

    <div class="col-12">
        <div class="block  table-block mb-4">
            <div class="block-heading">
                <h5>Liste des {{config.list}} </h5>
            </div>

            <div class="row">
                <div class="pull-right">
                    <a href="" class="btn btn-primary">Ajouter</a>
                    <br><br>
                </div>
                <div class="table-responsive">
                    {% for message in app.session.flashbag.get('ajout') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">
                        <thead>
                            <tr>
                                {% for lib in config.lists %}
                                <th>{{lib}}</th>
                                {% endfor %}

                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in list %}
                            <tr>
                                {% for key, lib in config.lists %}
                                <td>
                                    {{ dump(entity.getValItem(key)) }}
                                </td>
                                {% endfor %}
                                <td>
                                    <a class="btn btn-default btn-sm" href="">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            {# <tr>
                                <td>
                                    {% if category.image != null %}

                                    <img src="{{asset(category.image.WebPath)}}" style="height:40px;"> </td>
                                {% endif %}
                                </td>
                                <td>{{ category.libelle }}</td>
                                <td>{{ category.type }}</td>
                                <td>{{ category.created ? category.created|localizeddate('full', 'short') : '' }}</td>
                               
                            </tr>#}
                            {% else %}
                            <tr>
                                <td colspan="5">Aucun enregistrement</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}