{% extends "front_base.html.twig" %}

{%  block title %}
	Fonsic
{% endblock %}

{% block body %}
<!-- Contenu du site -->
<div class="body-container">
	<div class="container">
		<div class="row">
			<!-- Slider -->
			<div class="col-md-9">
				<div class="le-slider">
					<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
							<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="{{ asset('front/img/4.jpg') }}" class="d-block w-100" alt="...">
								<div class="carousel-caption d-none d-md-block">
									<h5>Premier slide</h5>
									<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
								</div>
							</div>
							<div class="carousel-item">
								<img src="{{ asset('front/img/1.jpg') }}" class="d-block w-100" alt="...">
								<div class="carousel-caption d-none d-md-block">
									<h5>Deuxième slide</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
							</div>
							<div class="carousel-item">
								<img src="{{ asset('front/img/2.jpg') }}" class="d-block w-100" alt="...">
								<div class="carousel-caption d-none d-md-block">
									<h5>Troisième slide</h5>
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
								</div>
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
							data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
							data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
			<!-- Fin slider -->
			<!-- Barre latterale -->
			<div class="col-md-3">
				{%	block side %}
					<div class="le-sidebar">
						<div class="side-ads">
							<a href="#"></a>
						</div>
						<div class="gros-titre3">Dernières demandes
							<span>
								<a href="#">Voir +</a>
							</span>
						</div>
						<div class="bloc-demandes">
							<div class="list-group demandes">
								<a href="#" class="list-group-item list-group-item-action">Cras justo odio
									<span>
										<i class="fas fa-user-edit"></i>
									</span>
								</a>
								<a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in<span>
										<i class="fas fa-user-edit"></i>
									</span>
								</a>
								<a href="#" class="list-group-item list-group-item-action">Morbi leo risus<span>
										<i class="fas fa-user-edit"></i>
									</span>
								</a>
								<a href="#" class="list-group-item list-group-item-action">Morbi leo risus<span>
										<i class="fas fa-user-edit"></i>
									</span>
								</a>
								<a href="#" class="list-group-item list-group-item-action">Morbi leo risus<span>
										<i class="fas fa-user-edit"></i>
									</span>
								</a>
								<a href="#" class="list-group-item list-group-item-action">Morbi leo risus<span>
										<i class="fas fa-user-edit"></i>
									</span>
								</a>
								<a href="#" class="list-group-item list-group-item-action">Morbi leo risus<span>
										<i class="fas fa-user-edit"></i>
									</span>
								</a>
							</div>
						</div>
					</div>
				{% endblock %}
			</div>
			<!-- Fin barre latterale -->
		</div>
	</div>
</div>
<!-- Contenu du site -->

<div class="le-contenu">
	<!-- films financé-->
	<div class="container">
		<div class="gros-titre">Derniers Films Financés</div>
		<div class="contenu-films">
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<div class="face-avant">
							<img src="{{ asset('front/img/film1.jpg') }}">
						</div>
						<div class="face-arriere">
							<div class="back-content middle">
								<h3>Et Si Dieu N'existait Pas?</h3>
								<span>date de sortie : 12 Juin 2010</span>
								<div class="sm">
									<a href="#">
										<i class="fas fa-play"></i>
									</a>
									<a href="#">
										<i class="fas fa-thumbs-up"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="face-avant">
							<img src="{{ asset('front/img/film2.jpg') }}">
						</div>
						<div class="face-arriere">
							<div class="back-content middle">
								<h3>Et Si Dieu N'existait Pas?</h3>
								<span>date de sortie : 12 Juin 2010</span>
								<div class="sm">
									<a href="#">
										<i class="fas fa-play"></i>
									</a>
									<a href="#">
										<i class="fas fa-thumbs-up"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="face-avant">
							<img src="{{ asset('front/img/film3.jpg') }}">
						</div>
						<div class="face-arriere">
							<div class="back-content middle">
								<h3>Et Si Dieu N'existait Pas?</h3>
								<span>date de sortie : 12 Juin 2010</span>
								<div class="sm">
									<a href="#">
										<i class="fas fa-play"></i>
									</a>
									<a href="#">
										<i class="fas fa-thumbs-up"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="face-avant">
							<img src="{{ asset('front/img/film4.jpg') }}">
						</div>
						<div class="face-arriere">
							<div class="back-content middle">
								<h3>Et Si Dieu N'existait Pas?</h3>
								<span>date de sortie : 12 Juin 2010</span>
								<div class="sm">
									<a href="#">
										<i class="fas fa-play"></i>
									</a>
									<a href="#">
										<i class="fas fa-thumbs-up"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- fin  films financé-->

	<!-- black banner -->
	<div class="black-banner">
		<div class="container">
			<div class="les-items">
				<div class="row">
					<div class="col-md-3 ico-fun">
						<div class="puce1">
							<i class="fas fa-award"></i>
							<span>Récompenses</span>
						</div>
					</div>
					<div class="col-md-3 ico-fun">
						<div class="puce2">
							<i class="fas fa-credit-card"></i>
							<span>Carte de membre</span>
						</div>
					</div>
					<div class="col-md-3 ico-fun">
						<div class="puce3">
							<i class="fas fa-ticket-alt"></i>
							<span>Ticket de salle</span>
						</div>
					</div>
					<div class="col-md-3 ico-fun">
						<div class="puce4">
							<i class="fas fa-video"></i>
							<span>Réalisations</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- fin black banner -->

	<!-- films institutionnels -->
	<div class="film-inst">
		<div class="banniere"></div>
		<div class="liste-videos">
			<div class="container">
				<div class="title-banner">
					<h2>Films Institutionnels</h2>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="bloc-video">
							<iframe width="100%" height="400" src="https://www.youtube.com/embed/89pkFWVKEzY"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-md-4">
						<div class="bloc-video">
							<iframe width="100%" height="400" src="https://www.youtube.com/embed/uXntezWAHgU"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-md-4">
						<div class="bloc-video">
							<iframe width="100%" height="400" src="https://www.youtube.com/embed/TWQkLhj7XaI"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- fin films institutionnels -->

	<!-- actualités -->
	<div class="blog">
		<div class="container">
			<div class="gros-titre2">Actualités
				<span>
					<a href="#">Voir +</a>
				</span>
			</div>
			<div class="row">			
				{%  for article in articles %}
				<div class="col-md-4">
					<div class="news">
						<img src="{{ asset(article.image.webPath) }}" alt="{{ article.titre}}" class="card-image" />
						<div class="card-meta">
							<span class="tag">
								<a href="{{ path('front_article_show', {id: article.id})}}">Lire la suite</a>
							</span>
							<span class="date">
								<span>
									{{article.created|date('d')}}
									<em>{{article.created|localizeddate('full', 'none', null, null, 'MMM')}}</em>
								</span>
							</span>
						</div>
						<div class="card-details">
							<h2><a href="{{ path('front_article_show', {id: article.id})}}">{{article.titre}}</a></h2>
							<p>
								<a href="{{ path('front_article_show', {id: article.id})}}">
									{{article.libelle|striptags|truncate(200, true, '&nbsp;...')|raw  }}
								</a>
							</p>
							<div class="post-meta">
								<span class="timestamp">
									<i class="fa fa-clock-o"></i>
									Posté : il ya 2 min
								</span>
								<span class="comments">
									<i class="fa fa-comments"></i>
									<a href="#">39 commentaires</a>
								</span>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}