{% import _self as menuAdmin %}

{% macro menuItem(name, url, icon, subitems, started , ic, class) %}
{% import _self as menuAdmin %}
{% spaceless %}
{% set subitems = subitems|default({}) %}
{% set currentUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set isActive = currentUrl == url %}
{% set icon = icon|default(" fa-files-o") %}
{% set isStarted = started|default(false) %}

{% for name, suburl in subitems %}
{% set isActive = not isActive and currentUrl == suburl %}
{% endfor %}

{% if not isActive and isStarted %}{% set isActive = currentUrl starts with url %}{% endif %}

<li>

    <a class="listemenu {% if isActive %} active {% endif %} {% if subitems|length > 0 %}have-submenu{% endif %} "
        href="{% if subitems|length > 0 %}javascript:void(0);{% else %} {{url}} {% endif %}">
        <span class="icon-thumbnail"><i class="{{icon}}"></i></span>
        <span class="title">{{name}}</span>
    </a>


    {% if subitems|length > 0 %}
    <ul class="sub-menu">
        {% for name, url, icon in subitems %}
        {{ menuAdmin.menuItem(name, url, icon, {}, true , false) }}
        {% endfor %}
    </ul>
    {% endif %}
</li>


{% endspaceless %}
{% endmacro %}

<!--<li>
                <a href="javascript:void(0);" class="have-submenu active">
                    <span class="icon-thumbnail"><i class="dripicons-browser"></i></span>
                    <span class="title">Dashboard</span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="index.html" class="active">
                            <span class="icon-thumbnail"><i class="dripicons-browser"></i></span>
                            <span class="title">Main Dashboard</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
            <li>
                <a href="apps_calendar.html">
                    <span class="icon-thumbnail"><i class="fa fa-calendar"></i></span>
                    <span class="title">Full Calendar</span>
                </a>
            </li> -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block title %} | Administration Fonsic!{% endblock %}</title>

    <!--favicon-->
    <link href="{{ asset('admin/assets/images/favicon.ico') }}" rel="shortcut icon">

    <!--Preloader-CSS-->
    <link rel="stylesheet" href="{{ asset('admin/assets/plugins/preloader/preloader.css') }}">

    <!--bootstrap-4-->
    <link rel="stylesheet" href="{{ asset('admin/assets/css/bootstrap.min.css') }}">

    <!--Custom Scroll-->
    <link rel="stylesheet" href="{{ asset('admin/assets/plugins/customScroll/jquery.mCustomScrollbar.min.css') }}">
    <!--Font Icons-->
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/simple-line/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/dripicons/dripicons.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/eightyshades/eightyshades.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/foundation/foundation-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/metrize/metrize.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/typicons/typicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/icons/weathericons/css/weather-icons.min.css') }}">

    <!--Date-range-->
    <link rel="stylesheet" href="{{ asset('admin/assets/plugins/date-range/daterangepicker.css') }}">
    <!--Drop-Zone-->
    <link rel="stylesheet" href="{{ asset('admin/assets/plugins/dropzone/dropzone.css') }}">
    <!--Full Calendar-->
    <!--Normalize Css-->
    <link rel="stylesheet" href="{{ asset('admin/assets/css/normalize.css') }}">
    <!--Main Css-->
    <link rel="stylesheet" href="{{ asset('admin/assets/css/main.css') }}">
</head>

<body>


    <!--Navigation-->
    <nav id="navigation" class="navigation-sidebar bg-primary">
        <div class="navigation-header">
            <a href="{{path('admin')}}"><span class="logo">Fonsic - Admin</span></a>
        </div>

        <!--Navigation Profile area-->
        <div class="navigation-profile">
            <img class="profile-img rounded-circle" src="{{asset(app.user.webpath)}}" alt="profile image">
            <h4 class="name">{{app.user.admin.nom}}</h4>
            <span class="designation"> {{app.user.admin.fonction}} </span>

            <a id="show-user-menu" href="javascript:void(0);" class="circle-white-btn profile-setting"><i
                    class="fa fa-cog"></i></a>

            <!--logged user hover menu-->
            <div class="logged-user-menu bg-white">
                <div class="avatar-info">
                    <img class="profile-img rounded-circle" src="{{asset(app.user.webpath)}}" alt="profile image">
                    <h4 class="name">{{app.user.admin.nom}}</h4>
                    <span class="designation">{{app.user.admin.fonction}}</span>
                </div>

                <ul class="list-unstyled">

                    <li>
                        <a href="{{path('user_admin_profil')}}">
                            <i class="ion-ios-person-outline"></i>
                            <span>Mon Profil</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('user_admin_password_change')}}">
                            <i class="ion-ios-locked-outline"></i>
                            <span>Modifier Mot de passe</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('user_admin_logout')}}">
                            <i class="ion-log-out"></i>
                            <span>Déconnexion</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--Navigation Menu Links-->
        <div class="navigation-menu">

            <ul class="menu-items custom-scroll">
                {{ menuAdmin.menuItem( "Tableau de bord", path('admin'), "dripicons-browser") }}
                {{ menuAdmin.menuItem( "Utilisateurs", path('user_admin'), "fa fa-users") }}
                {{ menuAdmin.menuItem( "Categorie", '#', "fa fa-th-large", {
                          "Liste": path('category_index'),
                          "Nouveau": path('category_new'),
                          }, true , true , 1) }}
                {{ menuAdmin.menuItem( "Article", '#', "fa fa-file", {
                            "Liste": path('article_index'),
                            "Nouveau": path('article_new'),
                            }, true , true , 1) }}
                {{ menuAdmin.menuItem( "Gallerie", '#', "fa fa-image", {
                                "Liste": path('gallery_index'),
                                "Nouveau": path('gallery_new'),
                                }, true , true , 1) }}
                {{ menuAdmin.menuItem( "Page", '#', "fa fa-image", {
                                    "Qui somme nous?": path('page_new', {name:'qui-sommes-nous'}),
                                    }, true , true , 1) }}
            </ul>
        </div>
    </nav>

    <!--Page Container-->
    <section class="page-container">
        <div class="page-content-wrapper">
            <!--Header Fixed-->
            <div class="header fixed-header">
                <div class="container-fluid" style="padding: 10px 25px">
                    <div class="row">
                        <div class="col-9 col-md-6 d-lg-none">
                            <a id="toggle-navigation" href="javascript:void(0);" class="icon-btn mr-3"><i
                                    class="fa fa-bars"></i></a>
                            <span class="logo">Fonsic - Admin</span>
                        </div>
                        <div class="col-lg-8 d-none d-lg-block">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{path('admin')}}">Tableau de Bord</a></li>
                            </ol>
                        </div>
                        <div class="col-3 col-md-6 col-lg-4">
                        </div>
                    </div>
                </div>
            </div>


            <!--Main Content-->
            <div class="content sm-gutter">
                <div class="container-fluid padding-25 sm-padding-10">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

    </section>

    <!---Right Tray--->

    <!--Jquery-->
    <script type="text/javascript" src="{{ asset('admin/assets/js/jquery-3.2.1.min.js') }}"></script>
    <!--Bootstrap Js-->
    <script type="text/javascript" src="{{ asset('admin/assets/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/assets/js/bootstrap.min.js') }}"></script>
    <!--Modernizr Js-->
    <script type="text/javascript" src="{{ asset('admin/assets/js/modernizr.custom.js') }}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>

    <!--Morphin Search JS-->
    <script type="text/javascript" src="{{ asset('admin/assets/plugins/morphin-search/classie.js') }}"></script>
    <!--Morphin Search JS-->

    <!--Chart js-->
    <script type="text/javascript" src="{{ asset('admin/assets/plugins/charts/Chart.min.js') }}"></script>

    <!--Sparkline Chart Js-->
    <script type="text/javascript" src="{{ asset('admin/assets/plugins/sparkline/jquery.sparkline.min.j') }}s"></script>
    <script type="text/javascript" src="{{ asset('admin/assets/plugins/sparkline/jquery.charts-sparkline.js') }}">
    </script>

    <!--Custom Scroll-->
    <script type="text/javascript"
        src="{{ asset('admin/assets/plugins/customScroll/jquery.mCustomScrollbar.min.js') }}"></script>
    <!--Sortable Js-->
    <script type="text/javascript" src="{{ asset('admin/assets/plugins/sortable2/sortable.min.js') }}"></script>
    <!--DropZone Js-->
    <script type="text/javascript" src="{{ asset('admin/assets/plugins/dropzone/dropzone.js') }}"></script>
    <!--Date Range JS-->
    <script type="text/javascript" src="{{ asset('admin/assets/plugins/date-range/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/assets/plugins/date-range/daterangepicker.js') }}"></script>
    <!--CK Editor JS-->
    <script type="text/javascript" src="{{ asset('admin/assets/plugins/ckEditor/ckeditor.js') }}"></script>
    <!--Data-Table JS-->
    <script type="text/javascript" src="{{ asset('admin/assets/plugins/data-tables/datatables.min.js') }}"></script>
    <!--Editable JS-->
    <script type="text/javascript" src="{{ asset('admin/assets/plugins/editable/editable.js') }}"></script>
    <!--Full Calendar JS-->

    <!--- Main JS -->
    <script src="{{ asset('admin/assets/js/main.js') }}"></script>
    <style>
        form ul li {
            color: red
        }

        .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
        .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
            height: 250px
        }
    </style>
    <script type="text/javascript">
        var allEditors = document.querySelectorAll('.editor');
        for (var i = 0; i < allEditors.length; ++i) {
            ClassicEditor.create(allEditors[i]);
        }
    </script>
    {% block js %}
    {% endblock js %}
</body>

</html>