{% extends 'admin.html.twig' %}

{% block title %}Liste des Articles {{ parent() }} {% endblock %}

{% block body %}
<div class="row">

    <div class="col-12">
        <div class="block  table-block mb-4">
            <div class="block-heading">
                <h5>Liste des Articles</h5>
            </div>

            <div class="row">
                <div class="pull-right">
                    <a href="{{ path('article_new') }}" class="btn btn-primary">Ajouter</a>
                    <br><br>
                </div>
                <div class="table-responsive">
                    {% for message in app.session.flashbag.get('ajout') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titre</th>
                                <th>Publier</th>
                                <th>Date de creation</th>
                                <th>Derniere modification</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in articles %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td>{{ article.titre }}</td>
                                <td>{{ article.published ? 'oui' : 'non' }}</td>
                                <td>{{ article.created ? article.created|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ article.modified ? article.modified|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('article_show', {'id': article.id}) }}">Afficher</a>
                                    <a href="{{ path('article_new', {'id': article.id}) }}">Editer</a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}