{% extends 'admin.html.twig' %}

{% block title %}Fiche Article {{ parent() }} {% endblock %}

{% block body %}
<div class="row">


    <div class="col-12">
        <div class="block  table-block mb-4">
            <div class="block-heading">
                <h5>Fiche Article {{article.titre}} </h5>


            </div>

            <div class="row">
                <div class="col-12">

                    {% for message in app.session.flashbag.get('ajout') %}

                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>

                    {% endfor %}

                    <table class="table table-hover record_properties">
                        <tbody>
                            {% if article.image != null %}
                            <tr>
                                <th scope="row"></th>
                                <td>
                                    <img src="{{asset(article.image.WebPath)}}" style="height:120px;"> </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">Titre</th>
                                <td>{{article.titre}}</td>
                            </tr>

                            <tr>
                                <th scope="row">Libelle</th>
                                <td> {{article.libelle|raw}} </td>
                            </tr>

                            <tr>
                                <th scope="row">Publier</th>
                                <td>{{ article.published ? 'oui' : 'non' }}</td>
                            </tr>



                        </tbody>
                    </table>

                    <div class="btn-group record_actions">

                        <a class="btn btn-inline btn-info" href="{{path('article_index')}}">
                            <i class="fa fa-chevron-circle-left"></i> Retour
                        </a>

                        <a class="btn btn-inline btn-primary" href="{{path('article_new' , {id:article.id} )}}">
                            Modifier <i class="fa fa-edit"></i>
                        </a>
                        <a href="#" class="btn btn-inline btn-danger" data-target="#removeModalLabel"
                            data-toggle="modal">
                            Supprimer <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('article/_delete_form.html.twig') }}

{% endblock %}