{% extends "front/article/front_article_base.html.twig" %}

{%  block title %}
	{{parent()}} actualités
{% endblock %}

{% block principal %}
	{% for article in articles %}	
		<!-- bloc actualité-->
		<div class="blog-news">
			<div class="les-news">
				<a href="{{ path('front_article_show', {id: article.id})}}"><img src="{{ asset(article.image.webPath) }}" alt="{{ article.titre}}"></a>
			</div>
			<div class="blog-title">
				<h3>
					<a href="{{ path('front_article_show', {id: article.id})}}">{{ article.titre}}</a>
				</h3>
			</div>
			<div class="blog-text">
				<p>
				    <a href="{{ path('front_article_show', {id: article.id})}}">	{{article.libelle|striptags|truncate(500, true, '&nbsp;...')|raw}}</a>
				</p>
			</div>
			<div class="blog-information">
				<div class="social-ic">
					<ul>
						<li>
							<i class="fas fa-user"></i>
							<a href="#">Admin</a></li>
						<li>
							<i class="far fa-calendar-alt"></i>
							{{article.created|localizeddate('full', 'none', null, null, 'd MMM YYYY')}}</li>
						<li>
							<i class="far fa-clock"></i>
							<a href="#"></a>{{article.created|date('H:i')}}</li>
						<li>
							{# <i class="fas fa-comments"></i>
							<a href="#"></a>16 #}
							{{ include('front/comment/_view_comment.html.twig', {countComments: article.CommentManager.countComments})}}
							</li>
						<li class="thumbs">
							{# <a href="#" title="J'aime">
								<i class="fas fa-thumbs-up"></i>
							</a>137 #}
							{{ include('front/mention/_view_mention.html.twig', {id: article.MentionManager.id, countMentions: article.MentionManager.countMentions})}}
							</li>
						{# <li class="thumbs">
							<a href="#" title="Je n'aime pas">
								<i class="fas fa-thumbs-down"></i>
							</a>8</li> #}
					</ul>
				</div>
				<div class="read-btn">
					<a class="read-more" href="{{ path('front_article_show', {id: article.id})}}">Lire la suite<i class="fas fa-angle-double-right"></i>
					</a>
				</div>
			</div>
		</div>
		<!-- fin bloc actualité-->
	{% endfor %}
		<!-- Pagination -->
		<div class="col-md-4 offset-md-4">
			<div class="pagination-site">
				{# <nav aria-label="PaginationSite">
					<ul class="pagination">
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1">Précédent</a>
						</li>
						<li class="page-item active">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">2</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">3</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">Suivant</a>
						</li>
					</ul>
				</nav> #}
				{# {{dump(articles) }} #}
				{{ knp_pagination_render(articles) }}
			</div>
		</div>
{%	endblock %}
