{% extends "front/article/front_article_base.html.twig" %}

{%  block title %}
	{{parent()}} {{ article.titre|striptags|raw}}
{% endblock %}

{%  block principal %}
	<!-- bloc actualité-->
	<div class="blog-news">
		<div class="les-news">
			<img src="{{ asset(article.image.webPath) }}" alt="{{ article.titre|striptags|raw}}">
		</div>
		<div class="blog-title">
			<h3>{{article.titre|striptags|raw}}</h3>
		</div>
		<div class="blog-text">
			<p class="single-post">
				{{article.libelle|striptags|raw}}
			</p>
		</div>
		<div class="blog-information">
			<div class="social-ic bordure-gris">
				<ul>
					<li>
						<i class="fas fa-user"></i>
						<a href="#"></a>Admin</li>
					<li>
						<i class="far fa-calendar-alt"></i>
						{{article.created|localizeddate('full', 'none', null, null, 'd MMM YYYY')}}</li>
					<li>
						<i class="far fa-clock"></i>
						{{article.created|date('H:i')}}</li>
					<li>
						{{ include('front/mention/_view_mention.html.twig', {id: article.MentionManager.id, countMentions: article.MentionManager.countMentions})}}
						</li>
					<li class="thumbs">
						{{ include('front/comment/_view_comment.html.twig', {countComments: article.CommentManager.countComments})}}
						</li>
				</ul>
			</div>
		</div>
		<div class="blog-comment">
			{{ include('front/comment/_list_comment_generique.html.twig', {comments: article.CommentManager.comments, commentManager: article.CommentManager.id}) }}
		</div>
	</div>
	<!-- fin bloc actualité-->
{% endblock %}